<h2>Welcome to the Recipe Book</h2>
<br>
<img class="center" src="../../../assets/homeCover.jpg">
<hr>
<div class="info-2">
    <div class="row">
        <div class="col-md-3">
            <h3>Create</h3>
            <p>As you add the cookbooks you own your recipe index is automatically created! Also add magazines you subscribe to and the blogs and websites you follow.</p>
            <img width="50px" src="https://cdn-icons-png.flaticon.com/512/3658/3658773.png">
            <br>
        </div>
        <hr>
        <div class="col-md-3">
            <h3>Discover</h3>
            <p>Search YOUR collection of recipes in ways you'd never have dreamed was possible - <i>ingredients, recipe types, ethnicity, etc.</i></p>
            <img width="50px" src="https://cdn-icons-png.flaticon.com/512/4775/4775908.png">
            <br>
        </div>
        <hr>
        <div class="col-md-3">
            <h3>Organize</h3>
            <p>Tag your recipes any way you want. Organize your favorite recipes, create menus for special events...it's up to you.</p>
            <img width="50px" src="https://cdn-icons-png.flaticon.com/512/1693/1693056.png">
            <br>
        </div>
    </div>
</div>
<br><br>