<div class="row">
    <div class="col-xs-12">
        <button routerLink="new" (click)="clearFilter()" class="btn btn-success">New Recipe</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-3">
                <h5>Filter by:</h5>
            </div>
            <div class="col-xs-8">
                <input class="form-control user-input" #mainInput id="mainInput" type="text" maxlength="20"
                    [(ngModel)]="listFilter" (ngModelChange)="onInputChange($event)">
                <input class="form-control suggest-input" [(ngModel)]='secondInput' id="secondInput" value=""
                    maxlength="20" type="text">


            </div>
        </div>
        <br>
        <!-- <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}} </h4>
            </div>
        </div> -->
      
        <div *ngIf="recipes.length==0 && searchMode">
            <h4>No recipes found</h4>
        </div>

        <div *ngIf="recipes.length==0 && !searchMode && !loadingTimeout; else notFound">
            <img src="../../assets/loading.gif" width="50px">
        </div>

        <ng-template #notFound>
            <div *ngIf="recipes.length==0 && !searchMode">
                <h4>No recipes found</h4>
            </div>
        </ng-template>


        <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl"
            [index]="getIndex(recipeEl)"></app-recipe-item>

        <!-- <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" 
        [recipe]="recipeEl" [index]="i"></app-recipe-item> -->
    </div>
</div>
<br>