<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2>Login</h2>
        <form (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" id="email" ngModel name="email" class="form-control" >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input  type="password" id="password" ngModel name="password" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>